/* The navigation bar sticks to the top of the page - even when scrolling. */
/* When the screen is small enough, most of the items on the nagivation bar will be placed in a dropdown list */
/* which can be accessed by pressing a hamburger button on the right-hand side of the navigation bar. */
.navbar {
    background-color: #141516;
    padding: 0 2em 0 2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar ul {
    display: block;
    margin: 0;
    padding: 0;
}
  
.navbar ul li {
    float: left;
}

#sign-in-item {
    visibility: hidden;
}
  
.navbar ul li a {
    display: block;
    text-align: center;
    padding: 1em 1.25em;
    border: 0.25em solid #141516;
    color: #FFFFFF;
}
  
.navbar ul li a:hover {
    transition: 0.25s ease;
    color: #E0E0E0;
    border-bottom: 0.25em solid #188FFF;
}

.navbar ul .dropdown-icon {
    color: #FFFFFF;
    position: relative;
    float: right;
    top: 0.825em;
    display: none;
    cursor: pointer;
}

.navbar ul .dropdown-icon:hover {
    color: #E0E0E0;
    transition: 0.25s ease;
}

.navbar button {
    position: fixed;
    float: right;
    top: 0.75em;
    right: 2em;
    background-color: #50ABFF;
    padding: 0.75em 2em;
    text-align: center;
    border: 0.075em solid #141516;
    border-radius: 2em;
    outline: none;
}

.navbar button:hover {
    background-color: #188FFF;
    transition: 0.25s ease;
    cursor: pointer;
}

@media screen and (max-width: 1020px) {
    .navbar {
        padding: 0;
    }
    
    .navbar ul li:nth-child(n+3) {
        width: 100vw;
        position: static;
    }

    #sign-in-item {
        visibility: visible;
    }

    .navbar ul .secondary-li-inactive {
        display: none;
    }

    .navbar ul .secondary-li-active {
        display: block;
    }

    .navbar ul .dropdown-icon {
        display: block;
        margin-right: 1.5em;
    }

    .navbar button {
        display: none;
    }
}